:root {
  --text-color: black;
  --background-color: white;
  --link-color: rgb(50, 50, 50);
  --highlight-color: rgb(120, 120, 120);
  --shadow-color: rgb(224, 224, 224);
  --border-color: rgb(243, 243, 243);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10rem;
}
header a.logo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  color: var(--text-color);
}
header nav ul {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  color: var(--link-color);
}
header nav ul li a, header nav ul li p {
  position: relative;
}
header nav ul li .underline:hover::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--highlight-color);
  width: calc(100% + 2rem);
  left: -1rem;
  bottom: -1rem;
  animation: highlight 0.1s ease-in-out;
}
header nav ul li .selected::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--text-color);
  width: calc(100% + 2rem);
  left: -1rem;
  bottom: -1rem;
}
header nav ul li.library-nav {
  position: relative;
}
header nav ul li.library-nav p {
  cursor: pointer;
  font-size: 1.5rem;
}
header nav ul li.library-nav div {
  position: absolute;
  display: none;
  width: 200%;
  left: 0;
}
header nav ul li.library-nav div a {
  display: block;
  margin-top: 1.5rem;
}
header nav ul li.library-nav div a:hover {
  color: var(--highlight-color);
}
header nav ul li.library-nav:hover div {
  display: block;
}

/* Keyframes */
@keyframes highlight {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
/* Utils and Wrapper */
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.6rem;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    padding: 0 6.8rem;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    padding: 0 10rem;
  }
}
main.wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
main.wrapper h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
main.wrapper div.cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
main.wrapper div.cards a {
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 1rem 1rem 1rem var(--shadow-color);
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  width: 30rem;
  height: 30rem;
  background: linear-gradient(to top, transparent, var(--background-color)), url(../assets/landscape.jpg);
  animation: pulling 0.25s ease-in-out;
}
main.wrapper div.cards a:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);
  animation: pushing 0.25s ease-in-out;
}
main.wrapper div.cards a.blog2 {
  background-position: 0% 100%;
}
main.wrapper div.cards a.blog3 {
  background-position: 100% 0%;
}
main.wrapper div.cards a.blog4 {
  background-position: 100% 100%;
}

@keyframes pushing {
  from {
    box-shadow: 1rem 1rem 1rem var(--shadow-color);
  }
  to {
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);
  }
}
@keyframes pulling {
  from {
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);
  }
  to {
    box-shadow: 1rem 1rem 1rem var(--shadow-color);
  }
}/*# sourceMappingURL=articles.css.map */