@use 'variables';
@use 'global';

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 4rem;
  }
}