@use 'variables';
@use 'global';

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10rem;

  a.logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    letter-spacing: 0.6rem;
    color: var(--text-color);
  }

  nav ul {
    display: flex;
    gap: 3rem;

    li {
      position: relative;

      a {
        font-size: 1.5rem;
      }
      a:not(.selected):hover::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid var(--highlight-color);
        width: calc(100% + 2rem);
        left: -1rem;
        bottom: -1rem;
        animation: highlight 0.1s ease-in-out;
      }
      a.selected::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid var(--text-color);
        width: calc(100% + 2rem);
        left: -1rem;
        bottom: -1rem;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  div h1 {
    margin: 0 auto;
    color: var(--text-color);
    font-weight: normal;
    font-size: 4rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: .3rem solid var(--text-color);
    animation:
      waiting 0.5s step-end,
      typing 3.5s steps(30, end) 0.5s,
      blinking 1s step-end 4.5s infinite;
  }
}

/* Keyframes */

@keyframes highlight {
  from { 
    width: 0;
    left: 50%;
  }
  to {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}

@keyframes waiting {
  from { width: 0; }
  to { width: 0; }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100% }
}

@keyframes blinking {
  from, to { border-color: transparent; }
  50% { border-color: var(--text-color); }
}