:root {
  --text-color: black;
  --background-color: white;
  --link-color: rgb(50, 50, 50);
  --highlight-color: rgb(120, 120, 120);
  --shadow-color: rgb(224, 224, 224);
  --border-color: rgb(243, 243, 243);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10rem;
}
header a.logo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  color: var(--text-color);
}
header nav ul {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  color: var(--link-color);
}
header nav ul li a, header nav ul li p {
  position: relative;
}
header nav ul li .underline:hover::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--highlight-color);
  width: calc(100% + 2rem);
  left: -1rem;
  bottom: -1rem;
  animation: highlight 0.1s ease-in-out;
}
header nav ul li .selected::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--text-color);
  width: calc(100% + 2rem);
  left: -1rem;
  bottom: -1rem;
}
header nav ul li.library-nav {
  position: relative;
}
header nav ul li.library-nav p {
  cursor: pointer;
  font-size: 1.5rem;
}
header nav ul li.library-nav div {
  position: absolute;
  display: none;
  width: 200%;
  left: 0;
}
header nav ul li.library-nav div a {
  display: block;
  margin-top: 1.5rem;
}
header nav ul li.library-nav div a:hover {
  color: var(--highlight-color);
}
header nav ul li.library-nav:hover div {
  display: block;
}

/* Keyframes */
@keyframes highlight {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
/* Utils and Wrapper */
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.6rem;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    padding: 0 6.8rem;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    padding: 0 10rem;
  }
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
main div {
  width: -moz-fit-content;
  width: fit-content;
}
main div h1 {
  color: var(--text-color);
  font-weight: normal;
  font-size: 4rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.3rem solid var(--text-color);
  animation: waiting 0.5s step-end, typing 3.5s steps(30, end) 0.5s, blinking 1s step-end 4.5s infinite;
}

@keyframes waiting {
  from {
    width: 0.1%;
  }
  to {
    width: 0.1%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}/*# sourceMappingURL=main.css.map */