@use 'variables';
@use 'global';

main.wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 60vh;
  background: no-repeat 90% 0% url('../assets/open_book.svg');

  h1 {
    font-size: 2.4rem;
  }

  p.currently-reading {
    box-shadow: 1rem 1rem 1rem var(--shadow-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    width: fit-content;
    margin: 3rem 0;
    padding: 2rem 5rem;
    background-color: var(--background-color);
  }

  a {
    font-size: 1.6rem;
    text-decoration: underline;
  }
}
