:root {
  --text-color: black;
  --background-color: white;
  --link-color: rgb(50, 50, 50);
  --highlight-color: rgb(120, 120, 120);
  --shadow-color: rgb(224, 224, 224);
  --border-color: rgb(243, 243, 243);
}